.bj {
    width: 100%;
    height: 560px;
    text-align: center;
}

.bj img {
    width: 100%;
    height: 100%;
}

.gongsijianjie {
    width: 45.5%;
    height: 400px;
    margin-top: -485px;
    position: relative;
    z-index: 100;
    left: 27.25%;
    background: rgba(55, 71, 98, .9);
    text-align: left;
    padding: 0 30px;
}

.gongsijianjie .gongsi {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.gongsijianjie .gongsi span {
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
}

.bjContent {
    width: 100%;
    height: 560px;
    margin-top: -569px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bjContent_center {
    width: 900px;
    display: flex;
    flex-direction: column;
    background: rgba(55, 71, 98, .9);
}

.jj {
    text-align: left;
    font-size: 20px;
    color: #fff;
    padding-left: 30px;
}

.jj .jja {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

.jianjie {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    font-weight: normal;
}

.jieshao {
    text-align: left;
    font-size: 18px;
    color: #fff;
    line-height: 35px;
    padding: 30px;
    padding-top: 0;
}

.first {
    width: 100%;
}

.firstCenter {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.firstCenter_top {
    width: 1200px;
    margin: 0 auto;
    height: 130px;
    border-bottom: 1px solid red;
    position: relative;
}

.firstCenter_top_content {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
    line-height: 65px;
    display: flex;
    align-items: center;
}

.firstCenter_top_content img {
    width: 35px;
    height: 35px;
}

.zhuyin {
    font-size: 30px;
    color: red;
    padding-left: 15px;
}

.zhuyin span {
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
}

.firstCenter_bottom {
    width: 100%;
    height: 400px;
    display: flex;
    position: relative;
}

.firstCenter_bottom:nth-child(odd) {
    background: #3E4B5B;
}

.firstCenter_bottom:nth-child(odd) .firstCenter_bottom_center {
    position: relative;
}

.firstCenter_bottom:nth-child(odd) .firstCenter_bottom_left {
    position: absolute;
    right: 0;
    color: #fff;
}

.firstCenter_bottom:nth-child(odd) .firstCenter_bottom_left .square {
    width: 18px;
    height: 18px;
    background: #fff;
    transform: rotate(45deg);
    margin-top: 5px;
}

.firstCenter_bottom:nth-child(odd) .firstCenter_bottom_right {
    position: absolute;
    left: 0;
}

.firstCenter_bottom:nth-child(odd) .firstCenter_bottom_right img {
    position: absolute;
    left: 0;
}

.firstCenter_bottom_center {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.firstCenter_bottom_left {
    width: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.firstCenter_bottom_left_top {
    display: flex;
    padding-top: 35px;
}

.square {
    width: 18px;
    height: 18px;
    background: #333333;
    transform: rotate(45deg);
    margin-top: 5px;
}

.firstCenter_bottom_left_top span {
    font-size: 20px;
    padding-left: 15px;
    font-weight: 600;
}

.firstCenter_bottom_left .content {
    font-size: 20px;
    line-height: 30px;
}

.firstCenter_bottom_right {
    width: 550px;
    behavior: 100%;
    position: relative;
}

.firstCenter_bottom_right img {
    width: 380px;
    height: 250px;
    position: absolute;
    right: 0;
    top: 50px;
}

.secoud {
    width: 100%;
    height: 350px;
    background: #3E4B5B;
}

.secoudCenter {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.secoudCenter img {
    width: 380px;
    height: 250px;
    margin-top: 50px;
}

.secoudCenterRight {
    width: 660px;
    height: 250px;
    margin-left: 65px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.secoudCenterRight_top {
    display: flex;
}

.squarea {
    width: 18px;
    height: 18px;
    background: #fff;
    transform: rotate(45deg);
    margin-top: 5px;
}

.secoudCenterRight_top span {
    font-size: 20px;
    padding-left: 15px;
    font-weight: 600;
    color: #fff;
}

.contenta {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.four {
    width: 100%;
    height: 400px;
}

.fourCenter {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.fourCenter img {
    width: 380px;
    height: 250px;
    margin-top: 80px;
    position: absolute;
    right: 0;
}

.fourCenterRight {
    width: 660px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.fourCenterRight_top {
    display: flex;
}

.squareb {
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    margin-top: 5px;
    background: #333333;
}

.fourCenterRight_top span {
    font-size: 20px;
    padding-left: 15px;
    font-weight: 600;
}

.contentb {
    font-size: 20px;
    line-height: 30px;
}

.three {
    width: 100%;
    padding-bottom: 170px;
}

.threeConter {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.threeConter_top {
    width: 100%;
    height: 310px;
    text-align: center;
}

.anlizhanshi {
    font-size: 32px;
    position: relative;
    top: 70px;
    color: red;
}

.threeConter_top p {
    font-size: 26px;
    color: #666666;
    padding-top: 95px;
    font-style: italic;
    color: red;
    text-decoration: underline;
}

.threeConter_bottom {
    width: 1000px;
    height: 700px;
    display: block;
    word-wrap: break-word;
    text-align: center;
    margin-left: auto;
     margin-right: auto;
}

.caseItem {
    width: 100%;
    height: 100%;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
}

.caseItem img {
    width: 100%;
    height: 100%
}

#carousel {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.carousel-left,
.carousel-right {
    position: absolute;
    top: 56%;
    display: inline-block;
    transform: translateY(-50%);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 60px;
    border-radius: 50%;
    transition: all .5s;
}

.carousel-left {
    left: 10px;
}

.carousel-right {
    right: 5px;
}

.carousel-left:hover,
.carousel-right:hover {
    color: black;
}

.carousel-dots {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-dots button {
    width: 17px;
    height: 17px;
    background: rgba(127, 124, 124, 0.5);
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    color: #000;
    border: none;
    outline: none;
    transition: all .2s;
    cursor: pointer;
    font-size: 7px;
}

.carousel-dots button:hover,
.carousel-dots button.active {
    background: rgba(51, 122, 183, 0.8);
    color: #fff;
}

.carousel-item {
    width: 1200px;
    position: absolute;
    top: 0;
    left: 0;
    height: 560px;
}

.carousel-item img {
    width: 100%;
    height: 560px;
}

li {
    list-style: none;
}

.bangonghuanjing {
    width: 100%;
    height: 100%;
}

.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.carousel ul {
    width: 100%;
    height: 100%;
    padding: 0;
}

.carousel ul li {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel ul li a img {
    width: 500px;
    height: 300px;
}

.bullet {
    position: absolute;
    font-size: 0;
    bottom: 20px;
    left: 50%;
    margin-left: -42px;
}

.bullet span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    margin-left: 15px;
    border-radius: 10px;
}

.bullet span:first-child {
    margin-left: 0;
}

.switch {}

.switch span {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, .1);
    font-size: 20px;
    color: #ffffff;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    font-family: "宋体";
}

.switch span:hover {
    background-color: rgba(0, 0, 0, .5);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.active {
    background-color: red !important;
}